html{
  line-height: 1.5;
  box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

body {
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  font-family: "Open Sans";
}

img {
  width: 100px;
}

div {
  padding: 1.5rem;
  line-height: 0.5;
  font-family: "Open Sans";
}

h4 {
  font-style: italic;
}

a {
  background-color: #333;
  color: #fff;
}

.container .cards{
  width: 600px;
  margin: 140px auto;
  display: table;
}

.card-1{
  background-color: #e2e2e2;
}

.card-2{
  background-color: #ccc;
}

.card-3{
  background-color: #aaa;
}

.card-4{
  background-color:#999;
}
